#instructions ul li {
	list-style-type:disc;
	list-style-position:outside;
	font-size:12px;
	margin:0px 0px 0px 20px;
}
/* Icons */
.ux-notification-icon-information {
	background-image: url('../image/notification/icon16_info.png');
}
.ux-notification-icon-error {
	background-image: url('../image/notification/icon16_error.png');
}
/* Using standard theme */
.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
}
/* Custom styling */
.ux-notification-light .x-window-header {
	background-color: transparent;
}
body .ux-notification-light {
	background-image: url('../image/notification/fader.png');
}
.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 20px 5px;
	background-color: transparent;
	border: 0px solid white;
}